---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/main-layout.astro";

const articles = await getCollection("articles");
---

<MainLayout title="Blog">
  <h1 class="text-3xl font-bold pb-12 font-serif">Blog</h1>
  <div class="grid divide-y divide-black/20 dark:divide-white/20">
    {
      articles.map((article) => (
        <div class="relative py-6 group">
          <h2
            class="font-serif text-xl group-hover:text-green-700"
            transition:name={`blog-${article.id}-title`}
          >
            <a href={`/blog/${article.id}`}>
              <span class="absolute inset-0" aria-hidden="true" />
              {article.data.title}
            </a>
          </h2>

          <p class="text-black/60 dark:text-white/60 text-sm">
            {article.data.short}
          </p>
        </div>
      ))
    }
  </div>
</MainLayout>
