---
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
---

<div>
  <h1>Blog</h1>
  <ul>
    {
      articles.map((article) => (
        <li>
          <a href={`/blog/${article.id}`}>{article.data.title}</a>
        </li>
      ))
    }
  </ul>
</div>
